<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    THULZ MAY 2018 BUDGET
  </h1>
  

      <table border="10" bordercolor =black  style="width:100%" >
         
         
        <tr>
      <th>INCOME</th> 
      <th>EXPENSES</th>
      <th>AMOUNT</th>
    </tr>
    
    <tr>
      <td>CodeTribe Stipend</td>
      <td> </td> 
      <td>R2000</td>
    </tr>
   
    <tr>
      <td> </td>
      <td>Tithe</td> 
      <td>-R200</td>
    </tr>
    <tr>
      <td> </td>
      <td>Transport</td> 
      <td>-R800</td>
    </tr>
    <tr>
      <td> </td>
      <td>Lunch</td> 
      <td>-R300</td>
    </tr>
    <tr>
      <td> </td>
      <td>Savings</td> 
      <td>-R200</td>
    </tr>
    <tr>
      <td> </td>
      <td>Movies</td> 
      <td>-R300</td>
    </tr>
    <tr>
      <td> </td>
      <td>Pocket Money</td> 
      <td>-R200</td>
    </tr>
  </table>

</div>